force-app/main/default/flows/Expense_Update_Budget_Spending.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Total</name>
        <label>Add To Total</label>
        <locationX>396</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>TotalSpending</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Expenses.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Expenses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Total</name>
        <label>Reset Total</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>TotalSpending</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Matching_Budget</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Budget_Found</name>
        <label>Check Budget Found</label>
        <locationX>176</locationX>
        <locationY>504</locationY>
        <defaultConnectorLabel>No Budget Found</defaultConnectorLabel>
        <rules>
            <name>Budget_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Budget</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Budget_Expenses</targetReference>
            </connector>
            <label>Budget Found</label>
        </rules>
    </decisions>
    <description>After an Expense is created or updated, recalculates Total Spending on the matching Budget record.</description>
    <environments>Default</environments>
    <formulas>
        <name>BudgetMonthText</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!CurrentTransactionDate})) &amp; &quot;-&quot; &amp; LPAD(TEXT(MONTH({!CurrentTransactionDate})), 2, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>CurrentCategoryId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Category__c}</expression>
    </formulas>
    <formulas>
        <name>CurrentTransactionDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Transaction_Date__c}</expression>
    </formulas>
    <formulas>
        <name>MonthStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentTransactionDate}), MONTH({!CurrentTransactionDate}), 1)</expression>
    </formulas>
    <interviewLabel>Expense Update Budget Spending {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expense Update Budget Spending</label>
    <loops>
        <name>Loop_Expenses</name>
        <label>Loop Expenses</label>
        <locationX>176</locationX>
        <locationY>720</locationY>
        <collectionReference>Get_Budget_Expenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_To_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Budget_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Budget_Expenses</name>
        <label>Get Budget Expenses</label>
        <locationX>176</locationX>
        <locationY>612</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Expenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Matching_Budget.Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expense</stringValue>
            </value>
        </filters>
        <filters>
            <field>Budget_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BudgetMonthText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Budget</name>
        <label>Get Matching Budget</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Budget_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentCategoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MonthStartDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Budget_Total</name>
        <label>Update Budget Total</label>
        <locationX>176</locationX>
        <locationY>828</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Matching_Budget.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Spending__c</field>
            <value>
                <elementReference>TotalSpending</elementReference>
            </value>
        </inputAssignments>
        <object>Budget__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_Total</targetReference>
        </connector>
        <object>Expense__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalSpending</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
