force-app/main/default/flows/Opportunity_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Sign_Off_Exists</name>
        <label>Sign Off Exists?</label>
        <locationX>264</locationX>
        <locationY>288</locationY>
        <defaultConnector><targetReference>Create_Sign_Off_Record</targetReference></defaultConnector>
        <defaultConnectorLabel>No Sign Off Found</defaultConnectorLabel>
        <rules>
            <name>Sign_Off_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Sign_Off</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <label>Sign Off Already Exists</label>
        </rules>
    </decisions>
    <description>After-Save flow on Opportunity. When StageName is changed to a sign-off stage, creates a Project Sign Off record if one does not already exist for that stage.</description>
    <interviewLabel>Opportunity After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sign_Off_Record</name>
        <label>Create Sign Off Record</label>
        <locationX>396</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value><elementReference>$Record.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Sign_Off_Status__c</field>
            <value><stringValue>Pending</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value><elementReference>$Record.StageName</elementReference></value>
        </inputAssignments>
        <object>Project_Sign_Off__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Sign_Off</name>
        <label>Get Existing Sign Off</label>
        <locationX>264</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Sign_Off_Exists</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.Id</elementReference></value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.StageName</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Sign_Off__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>140</locationX>
        <locationY>48</locationY>
        <connector><targetReference>Get_Existing_Sign_Off</targetReference></connector>
        <filterFormula>AND(
  ISCHANGED({!$Record.StageName}),
  OR(
    ISPICKVAL({!$Record.StageName}, &apos;Discovery&apos;),
    ISPICKVAL({!$Record.StageName}, &apos;Requirement Gathering&apos;),
    ISPICKVAL({!$Record.StageName}, &apos;Requirement Documentation&apos;),
    ISPICKVAL({!$Record.StageName}, &apos;User Story Finalization&apos;)
  )
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>