force-app/main/default/flows/Project_Sign_Off_Upload_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Screen Flow to upload a sign-off document, confirm approval, and update Project Sign Off and Opportunity records.</description>
    <interviewLabel>Upload Sign-Off Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Sign-Off Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Sign_Off_Record</name>
        <label>Get Sign Off Record</label>
        <locationX>264</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Sign_Off__c</object>
        <outputReference>varSignOff</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>Sign_Off_Status__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Opportunity</name>
        <label>Get Parent Opportunity</label>
        <locationX>264</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Upload_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSignOff.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <outputReference>varOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Upload_Document</name>
        <label>Upload Sign-Off Document</label>
        <locationX>264</locationX>
        <locationY>408</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Confirm_Approval</targetReference>
        </connector>
        <fields>
            <name>Upload_Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Upload Sign-Off Document&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Stage: {!varSignOff.Stage__c} | Status: {!varSignOff.Sign_Off_Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload_Instructions</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Document Upload Instructions&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please upload your sign-off document to the &lt;strong&gt;Files&lt;/strong&gt; section of this Project Sign Off record &lt;em&gt;before&lt;/em&gt; proceeding. Use the Files related list on the record page to attach your document.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <label>I confirm I have uploaded the required sign-off document to the Files section</label>
            <name>Confirm_Upload_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirm_Approval</name>
        <label>Approve Sign-Off</label>
        <locationX>264</locationX>
        <locationY>528</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Sign_Off_Approved</targetReference>
        </connector>
        <fields>
            <name>Confirm_Approval_Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Approve Sign-Off&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;By confirming, you approve the sign-off for this stage.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <label>I confirm I approve this sign-off</label>
            <name>Confirm_Approval_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <recordUpdates>
        <name>Update_Sign_Off_Approved</name>
        <label>Update Sign Off Approved</label>
        <locationX>264</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Update_Opportunity_Sign_Off_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sign_Off_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Sign_Off__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Sign_Off_Complete</name>
        <label>Update Opportunity Sign Off Complete</label>
        <locationX>264</locationX>
        <locationY>768</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Stage_Sign_Off_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>140</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Sign_Off_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <label>recordId</label>
    </variables>
    <variables>
        <name>varSignOff</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <label>varSignOff</label>
        <objectType>Project_Sign_Off__c</objectType>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <label>varOpportunity</label>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
